*{margin: 0;padding: 0;}
		
	body{background: #073146;font-family: sans-serif;}

	.box{
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);
		 width:400px;
		 height: 400px;
		 background: #001e2d;
		 box-sizing: border-box;
		 overflow: hidden;
		 box-shadow: 0 20px 50px rgba(0,0,0,.5);
		 border:1px solid #000;
		 

	}
	.box:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.1);
		transition:0.5s;
		pointer-events: none;

	}
	.box:hover:before{
		left: -50%;
		transform: skew(-5deg);
	}
	.box .content{
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		border: 2px solid #ffeb3b;
		text-align: center;
		box-shadow: 0 5px 10px rgba(0,0,0,.5);
		padding: 10px;


	}
	.box .content h2 {
	color: #f5670e;
	font-size: 30px;
	margin: 0 0 10px;
	padding: 10px;
	border-bottom: 2px solid #1b4eff;
	width: 250px;
	margin: 0 auto;
}

	.box .content p {
	color: #fff;
	width: 171px;
	padding-bottom: 10px;
}
	.box span{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		box-sizing: border-box;

	}
	.box span:nth-child(1)
	{
		transform: rotate(0deg);
	}

	.box span:nth-child(2)
	{
		transform: rotate(90deg);
	}

	.box span:nth-child(3)
	{
		transform: rotate(180deg);
	}

	.box span:nth-child(4)
	{
		transform: rotate(270deg);
	}

	.box span:nth-child(2):before
	{
			animation-delay:-2s;
		}

	.box span:nth-child(4):before
		{
			animation-delay:-2s;
		}
		
	.box span:before{
		content:'';
		position: absolute;
		width: 100%;
		height: 1px;
		background: #0093ff;
		/*background: linear-gradient(45deg,#ff0,#f0f,#f00,#00f,#0f0);*/
		animation:  animate 4s linear infinite;
	}

	@keyframes animate
	{
		0%
		{
			transform:scale(0);
			transform-origin: left;  
		}

		50%
		{
			transform:scale(1);
			transform-origin: left;  
		}

		50.1%
		{
			transform:scale(1);
			transform-origin: right;  
		}

		100%
		{
			transform:scale(0);
			transform-origin: right;  
		}
	}
	
input {
	height: 20px;
	width: 248px;
	padding: 5px;
	border: none;
	transition: all .5s;
	margin-bottom: 10px;
}

input:focus{background:skyblue;}
.btn-login {
	width: 140px;
	height: 50px;
	color: red;
	font-size: 30px;
	padding: 5px;
	transition:all .3s;
}
.btn-login:hover {
	background:blue;
	color:black;
	cursor:pointer;
}